name: Trigger auto deployment for app-testing01

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/app-testing01-AutoDeployTrigger-182563d8-7ee4-4109-af1c-6831655a60ad.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.APPTESTING01_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.APPTESTING01_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.APPTESTING01_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.APPTESTING01_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.APPTESTING01_REGISTRY_PASSWORD }}
          containerAppName: app-testing01
          resourceGroup: RG-testing
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


